body {

 box-sizing: border-box;
}

* {
 margin: 0;
 padding: 0;
}

.my-link {
  color: red;
}


.header {
display: flex;
justify-content: space-between;
background-color: aqua;
padding: 2em;
}

.footer {
position: fixed;
bottom: 0;
background-color: aqua;
width: 100%;
padding: 2em;
}

.note {
  color: green;
}

.jedi.selected {
  background-color: brown;
}


.sith.selected {
  background-color: rgb(48, 165, 42);
}